# Recommendation System

In this recommendation system I have used Kaggle dataset named Post Recommendation System Here is the link of that : https://www.kaggle.com/vatsalparsaniya/post-pecommendation

It will consume a user_id and check the history or like or vote he has given to post and check other users simliarities and then recommend posts.

Here we go::::::::::::

In [4]:
#importing relevant libraries

import pandas as pd
import numpy as np
import re

In [5]:
#Datasets Importing 
#post_data consists of post details like post_id, title, category
#user_data consists of user's information
#view_data consists of which user view which post

post_data = pd.read_csv(r'post_data.csv')
user_data = pd.read_csv(r'user_data.csv')
view_data = pd.read_csv(r'view_data.csv')

In [6]:
post_data.head()

                                               title     category    post_id
0                        Find A Quick Way To GRAPHIC      graphic   10260109
1                                  How To Sell CRAFT        Craft   39550285
2  POLITICS An Incredibly Easy Method That Works ...     politics  935118791
3                  5 Brilliant Ways To Use POLITICAL    political  151805043
4   How To Make Your MATHEMATICS Look Amazing In ...  Mathematics  995833095

In [7]:
user_data.head()

,user_id,first_name,last_name,gender,avatar,city,academics
0,5eece14efc13ae6609000000,Milena,Lacelett,Female,https://robohash.org/quisidomnis.png?size=50x5...,Blagoveshchensk,undergraduate
1,5eece14efc13ae6609000001,Nolan,Satcher,Male,https://robohash.org/dignissimosrepudiandaedol...,Wufeng,undergraduate
2,5eece14efc13ae6609000002,Eveleen,Cotterell,Female,https://robohash.org/remomnissuscipit.png?size...,Barra Bonita,undergraduate
3,5eece14efc13ae6609000003,Petrina,Berr,Female,https://robohash.org/estquasconsectetur.png?si...,San Angelo,undergraduate
4,5eece14efc13ae6609000004,Saunderson,Duquesnay,Male,https://robohash.org/nullaaest.png?size=50x50&...,Olszówka,graduate

In [8]:
view_data.head()

                    user_id    post_id           time_stamp
0  5eece14ffc13ae660900008b  136781766  01/01/2019 01:30 PM
1  5eece14efc13ae660900003c   43094523  01/01/2019 01:33 PM
2  5eece14efc13ae6609000025   42428071  01/01/2019 01:43 PM
3  5eece14ffc13ae66090001d4   76472880  01/01/2019 01:54 PM
4  5eece14ffc13ae66090000ac  202721843  01/01/2019 02:00 PM

In [9]:
#Making Recommendation system is not a supervised learning right that consist of label but it is 
# unsupervised learning so we have to add likes or make it valuable that means the user rate it valuable
# in terms of rating like out of 5 okay
# I add up it.

dataframe = pd.DataFrame(view_data)

In [10]:
dataframe["Valuable"] = np.random.randint(1, 6, len(dataframe))

In [11]:
#this is our data right now.
dataframe

                        user_id    post_id           time_stamp  Valuable
0      5eece14ffc13ae660900008b  136781766  01/01/2019 01:30 PM         4
1      5eece14efc13ae660900003c   43094523  01/01/2019 01:33 PM         2
2      5eece14efc13ae6609000025   42428071  01/01/2019 01:43 PM         4
3      5eece14ffc13ae66090001d4   76472880  01/01/2019 01:54 PM         5
4      5eece14ffc13ae66090000ac  202721843  01/01/2019 02:00 PM         1
...                         ...        ...                  ...       ...
71795  5eece14ffc13ae660900018c  615389604  12/31/2019 12:37 AM         4
71796  5eece14ffc13ae660900010c  348689108  12/31/2019 12:50 PM         4
71797  5eece14ffc13ae6609000190  619052165  12/31/2019 12:51 AM         2
71798  5eece14efc13ae6609000067  426384418  12/31/2019 12:51 PM         3
71799  5eece14ffc13ae6609000110  165390871  12/31/2019 12:54 AM         4

[71800 rows x 4 columns]

In [12]:
# in this cell we are merging view data and the dataframe I have made of post data. in this post id is common.

df = pd.merge(dataframe, post_data ,on='post_id')
df.tail()

,user_id,post_id,time_stamp,Valuable,title,category
71795,5eece14ffc13ae66090000c3,810223923,08/28/2019 06:32 PM,2,7 and a Half Very Simple Things You Can Do To...,graphic
71796,5eece14efc13ae6609000073,810223923,09/15/2019 06:58 PM,4,7 and a Half Very Simple Things You Can Do To...,graphic
71797,5eece14ffc13ae660900017d,810223923,10/31/2019 09:50 PM,5,7 and a Half Very Simple Things You Can Do To...,graphic
71798,5eece14ffc13ae66090000e3,810223923,12/04/2019 03:56 PM,2,7 and a Half Very Simple Things You Can Do To...,graphic
71799,5eece14ffc13ae6609000135,810223923,12/20/2019 09:54 AM,1,7 and a Half Very Simple Things You Can Do To...,graphic

In [13]:
#drop the irrevelent features i.e category is important but not for this. and also time_stamp is not 
#important right now.
data = df.drop(['time_stamp', 'category'], axis=1)

In [37]:
data.to_csv(r'C:\Users\hp\Desktop\post reccomendation\check_new_2.csv',index=False)

In [32]:
combine_post_rating = data.dropna(axis = 0, subset = ['title'])

combine_post_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71800 entries, 0 to 71799
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   71800 non-null  object
 1   post_id   71800 non-null  int64
 2   Valuable  71800 non-null  int32
 3   title     71800 non-null  object
dtypes: int32(1), int64(1), object(2)
memory usage: 2.5+ MB

In [35]:
# In this first we have to make a column here that consists of total ratings a title or a post have. 
#like 10 Funny ART Quotes has 15 votes given by users.



post_ratingCount = (combine_post_rating.
     groupby(by = ['title'])['Valuable'].
     sum().
     reset_index().
     rename(columns = {'Valuable': 'totalValuableCount'})
     [['title', 'totalValuableCount']]
    )
post_ratingCount

                                                  title  totalValuableCount
0                                   10 Funny ART Quotes                  41
1                               10 Funny BANKING Quotes                  31
2                              10 Funny BUSINESS Quotes                  38
3                                 10 Funny CRAFT Quotes                  34
4                                 10 Funny DANCE Quotes                  55
...                                                 ...                 ...
5995  ZOOLOGY: Do You Really Need It? This Will Help...                  33
5996                           ZOOLOGY: The Samurai Way                  38
5997             ZOOLOGY: This Is What Professionals Do                  31
5998                           ZOOLOGY: What A Mistake!                  17
5999              ZOOLOGY? It's Easy If You Do It Smart                  43

[6000 rows x 2 columns]

In [33]:
post_ratingCount.to_csv(r'C:\Users\hp\Desktop\post reccomendation\check_new_1.csv',index=False)

In [16]:

#Merge it into our main dataset 
rating_with_totalValuableCount = combine_post_rating.merge(post_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalValuableCount.tail()

,user_id,post_id,Valuable,title,totalValuableCount
71795,5eece14ffc13ae66090000c3,810223923,2,7 and a Half Very Simple Things You Can Do To...,5
71796,5eece14efc13ae6609000073,810223923,4,7 and a Half Very Simple Things You Can Do To...,5
71797,5eece14ffc13ae660900017d,810223923,5,7 and a Half Very Simple Things You Can Do To...,5
71798,5eece14ffc13ae66090000e3,810223923,2,7 and a Half Very Simple Things You Can Do To...,5
71799,5eece14ffc13ae6609000135,810223923,1,7 and a Half Very Simple Things You Can Do To...,5

In [17]:
#It is just how to see data desciption and stuff.
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(post_ratingCount['totalValuableCount'].describe())

count   6000.000
mean      11.967
std        3.449
min        2.000
25%       10.000
50%       12.000
75%       14.000
max       24.000
Name: totalValuableCount, dtype: float64

In [18]:
print(post_ratingCount['totalValuableCount'].quantile(np.arange(.9, 1, .01)))

0.900   17.000
0.910   17.000
0.920   17.000
0.930   17.000
0.940   18.000
0.950   18.000
0.960   18.000
0.970   19.000
0.980   19.020
0.990   21.000
Name: totalValuableCount, dtype: float64

In [19]:
#we have to fix a threshold here that machine will recommend post to user that have votes greater than
# the threshold values
popularity_threshold = 13
rating_popular_post = rating_with_totalValuableCount.query('totalValuableCount >= @popularity_threshold')
rating_popular_post.tail()

,user_id,post_id,Valuable,title,totalValuableCount
71697,5eece14ffc13ae66090001bb,36975738,4,I Don't Want To Spend This Much Time On MUSIC...,13
71698,5eece14ffc13ae660900012d,36975738,4,I Don't Want To Spend This Much Time On MUSIC...,13
71699,5eece14efc13ae660900006c,36975738,1,I Don't Want To Spend This Much Time On MUSIC...,13
71700,5eece14ffc13ae660900007e,36975738,3,I Don't Want To Spend This Much Time On MUSIC...,13
71701,5eece14efc13ae6609000048,36975738,4,I Don't Want To Spend This Much Time On MUSIC...,13

In [20]:
rating_popular_post.shape

(38292, 5)

In [21]:
user_data.head()

,user_id,first_name,last_name,gender,avatar,city,academics
0,5eece14efc13ae6609000000,Milena,Lacelett,Female,https://robohash.org/quisidomnis.png?size=50x5...,Blagoveshchensk,undergraduate
1,5eece14efc13ae6609000001,Nolan,Satcher,Male,https://robohash.org/dignissimosrepudiandaedol...,Wufeng,undergraduate
2,5eece14efc13ae6609000002,Eveleen,Cotterell,Female,https://robohash.org/remomnissuscipit.png?size...,Barra Bonita,undergraduate
3,5eece14efc13ae6609000003,Petrina,Berr,Female,https://robohash.org/estquasconsectetur.png?si...,San Angelo,undergraduate
4,5eece14efc13ae6609000004,Saunderson,Duquesnay,Male,https://robohash.org/nullaaest.png?size=50x50&...,Olszówka,graduate

In [22]:
len(user_data.city.unique())

491

Making model from here.
we have to make a data matrix like indexes are titles and columns are user id and target is how valuable or how much likes it have.

Use here cosine similiarity to find the simliarity between user and other users.

In [38]:
from scipy.sparse import csr_matrix
rating_popular_post = rating_popular_post.drop_duplicates(['user_id', 'title'])
rating_popular_post_pivot = rating_popular_post.pivot(index = 'title', columns = 'user_id', values = 'Valuable').fillna(0)
rating_popular_post_matrix = csr_matrix(rating_popular_post_pivot.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(rating_popular_post_matrix)

ModuleNotFoundError: No module named 'scipy'

In [ ]:
rating_popular_post_pivot.shape[0]

2513

In [ ]:
rating_popular_post_pivot

user_id,5eece14efc13ae6609000000,5eece14efc13ae6609000001,5eece14efc13ae6609000002,5eece14efc13ae6609000003,5eece14efc13ae6609000004,5eece14efc13ae6609000005,5eece14efc13ae6609000006,5eece14efc13ae6609000007,5eece14efc13ae6609000008,5eece14efc13ae6609000009,...,5eece14ffc13ae66090001ea,5eece14ffc13ae66090001eb,5eece14ffc13ae66090001ec,5eece14ffc13ae66090001ed,5eece14ffc13ae66090001ee,5eece14ffc13ae66090001ef,5eece14ffc13ae66090001f0,5eece14ffc13ae66090001f1,5eece14ffc13ae66090001f2,5eece14ffc13ae66090001f3
title,,,,,,,,,,,,,,,,,,,,,
10 Funny ART Quotes,0.000,0.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,5.000,0.000,0.000,0.000
10 Funny BUSINESS Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Funny DANCE Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Funny DRAWING Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10 Funny GRAPHIC Quotes,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZOOLOGY Your Way To Success,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZOOLOGY: An Incredibly Easy Method That Works For All,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZOOLOGY: Do You Really Need It? This Will Help You Decide!,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZOOLOGY: The Samurai Way,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZOOLOGY? It's Easy If You Do It Smart,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,...,0.000,0.000,0.000,0.000,2.000,0.000,0.000,0.000,0.000,0.000

Choose a random users and recommend it a title of post by looking their cosine simliarity scores

In [ ]:
query_index = np.random.choice(rating_popular_post_pivot.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(rating_popular_post_pivot.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

186

In [ ]:
# this is our name of user 3 and title he has seen or vote it and our task is to recommend it similiar
#post
rating_popular_post_pivot.index[query_index]

' 3 Mistakes In DANCE That Make You Look Dumb'

In [ ]:
#Here we go
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(rating_popular_post_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, rating_popular_post_pivot.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for  3 Mistakes In DANCE That Make You Look Dumb:

1:  Never Changing GRAPHIC Will Eventually Destroy You, with distance of 0.7032371623363501:
2:  10 Tips That Will Make You Influential In CRAFT, with distance of 0.7267841024811379:
3:  Fall In Love With OPERATING SYSTEM, with distance of 0.7402270129541558:
4:  How To Save Money with SCIENCE?, with distance of 0.7407620763173937:
5:  Sick And Tired Of Doing BUSINESS The Old Way? Read This, with distance of 0.7452830038796782: